#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 70vh;
    padding-bottom: 50px;
    }

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto -16px;
    height: 100vh;
    padding-bottom: 50px;
    }

#skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: auto -16px;
    height: 100vh;
    padding-bottom: 50px;
    }

        