#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50vh;
    padding-bottom: 50px;
    }

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-bottom: 50px;
    }

    